* {
    font-family: fcb-extra-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
}

.player_page {
    background: linear-gradient(247deg, #181733, #154284);
}

.player_hero_wrapper {
    height: 100%;
    padding: 0 1rem;
    min-height: calc(98vh - 16.8rem);
    padding-top: 2rem;
    position: relative;
}

.team_navigation {
    display: flex;
    justify-content: center;
    padding: 0 25px;
}

.player_img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.player_info {
    background-color: rgba(8, 14, 31, .9);
    border-radius: 10px 10px 0 0;
    padding: 20px 0px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.player_position {
    text-align: center;
    color: white;
    text-transform: uppercase;
    opacity: .8;
    font-weight: bold;
}

.player_hero_name {
    margin-bottom: 0.5rem;
    text-align: center;
}

.player_number {
    background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .6));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.player_name {
    font-size: 3rem;
    color: #fff;
}

.container_player_stats {
    background-color: rgba(8, 14, 31, .9);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 2rem 0px;
    text-align: center;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.player_stats {
    display: flex;
    text-transform: uppercase;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.player-hero__stats--single-stat {
    width: 33.33%;
}

.player-hero__stats-item {
    display: flex;
    flex-direction: column;
}

.stats_title {
    color: #fff;
    font-size: .9rem;
}

.stats_number {
    color: #e0b029;
    font-size: 2.5rem;
    font-weight: bold;
}

// .go_back {
//     display: flex;
//     justify-content: center;
//     padding-bottom: 20px;
// }

.next_player {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.player_link {
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
    width: 5rem;
    height: 3rem;
    white-space: nowrap;
    font-size: 0;
}

.player_btn {
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    fill: #fff;
    background: #0a0927;
}

.back_to_squad_btn {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    background: #fff;
    fill: #0a0927;
}

.icon {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

.routerLink {
    text-decoration: none;
}

.player-nav_btn-title {
    color: #0a0927;
    font-size: 1rem;
    font-weight: bold;
}

.player_biography {
    transform: translateY(-20px);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.biography_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222;
    padding: 1.6rem;
    border-radius: 1.6rem 1.6rem 0 0;
    box-shadow: 0 -.4rem .4rem 0rgba(0, 0, 0, .2);
    background: #fff;
}

.player_bio {
    background: #fff;
    margin: 0;
    padding: 0;
    border-radius: 0px 0px 10px 10px;
    border-radius: 0 0 1.6rem 1.6rem;
}

.content_media {
    padding: 25px;
    background-image: url("../../../../assets/images/stripes.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.player_bio_img {
    width: 100%;
    height: auto;
}

.content_text {
    padding: 0.8rem 1.6rem;
}

.bio_title {
    font-size: 1.4rem;
    text-align: justify;
    font-weight: bold;
    line-height: 2.2rem;
    background: linear-gradient(90deg, #cd122d, #154284);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    margin-bottom: 1rem;
}

.bio_text {
    height: auto;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
}


@media (min-width:375px) and (max-width:424px) {
    .player_info {
        padding: 16px;
    }

    .player_name {
        font-size: 2.4rem;
    }

    .player_position {
        font-size: .8rem;
    }

    .player_number {
        font-size: 2.4rem;
    }

    .stats_title {
        font-size: .8rem;
    }

    .stats_number {
        font-size: 2rem;
    }

    .icon {
        width: 1.3rem;
        height: 1.3rem;
    }

    .player-nav_btn-title {
        font-size: 1rem;
    }

    .bio_title {
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: justify;
    }

    .bio_text {
        font-size: 1rem;
    }
}

@media (min-width:320px) and (max-width:374px) {
    .player_info {
        padding: 12px;
    }

    .player_name {
        font-size: 2rem;
    }

    .player_position {
        font-size: .6rem;
    }

    .player_number {
        font-size: 2rem;
    }

    .stats_title {
        font-size: .6rem;
    }

    .stats_number {
        font-size: 1.5rem;
    }

    .icon {
        width: 1rem;
        height: 1rem;
    }

    .player-nav_btn-title {
        font-size: .8rem;
    }

    .bio_title {
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: justify;
    }

    .bio_text {
        font-size: .8rem;
        line-height: 1.5rem;
    }
}